body {
  background-color:#fff;
  p {
    width: 200px;
    height: 200px;
    color:yellow;
    &.test {
      padding: 20px;
      color:#333;
    }
  }
  h3 {
    padding: 20px;
    background-color:#1b6d85;
    a {
      padding: 2220px;
    }
  }
}